.nav-actif
{
    color: #24748f;
}

.nav-actif:hover
{
    color: #24748f;
}

.nav-nonactif
{
    color: #54B4D3;
}

.nav-nonactif:hover
{
    color: #24748f;
}

#logo-nav
{
    cursor: pointer;
}

.carousel-image {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.text-justify
{
    text-align: justify;
}

.footer-element:hover
{
    cursor: pointer;
    text-decoration:underline;
}

aside ul li
{
    cursor: pointer;
    padding-left: 20px;
    transition: 0.2s;
}

aside ul li:hover
{
    background-color: #0d6efd;
}

aside ul
{
    padding-left: 5px;
}


#contenu3 div
{
    width: 400px;
}
